*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100%;
    width: 100%;
}
.parent{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    display: flex;  /* dont use the position attribute use flex for responsive ness */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap ;  /*  element align in the column when the width is decreases */
  /*  flex-direction: column;  */

}
.child1{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 0.3rem black solid;
}
.child2{
    width: 200px;
    height: 200px;
    background-color: rgb(114, 9, 252);
    border: 0.3rem black solid;
}
.child3{
    width: 200px;
    height: 200px;
    background-color: rgb(205, 20, 252);
    border: 0.3rem black solid;
}
