*{
    color: white;
}
#navbar{
    height: 40px;
    background-color: rgb(51, 48, 48);
    border: 3px solid rgb(0, 0, 0);
    padding-left: 10px;
    padding-top: 5px;
    
}
#logo{
    color:#f08804;
    font-size: 25px;
}
button{
    background-color:#f08804;
}
a{
    text-decoration:none;
    padding: 100px;
}
input{
    color: black;
    margin-left: 80px;
}
